{% extends "layout.html" %}

{% block title %}
    Easter Egg
{% endblock %}

{% block main %}

    <h1 class="display-1 gradient-text-custom big-text-custom">You've found an Easter Egg!</h1>
    <br>
    <br>

    <div class="container text-center align-items-center">
        <iframe width='480' height='480' frameborder='0' marginwidth='0' marginheight='0' vspace='0' hspace='0' scrolling='no' allowfullscreen='true' src='https://h5.4j.com/Paper-Toss-Online/index.php?pubid=yourlogo'></iframe>
    </div>

{% endblock %}